@font-face {
    font-family: 'HYHeiLiZhiTiJ';
    src: url('HYHeiLiZhiTiJ.woff2') format('woff2'),
        url('HYHeiLiZhiTiJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

